<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stoxxx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>848C6D251EBF237C00309ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>848C6D391EBF237D00309ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>848C6D441EBF237D00309ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
